.main {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .todoContainer {
    background-color: pink;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 h1 {
    color: white;
 }
 .taskAdd{
    display: flex;
    gap: 20px;
    align-items: end;
}
.toDoAdd {
    height: 26px;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
}
p{
    font-size: 13px;
    color: white;
    margin: 0;
}
input {
    border: none;
    padding: 5px;
}
select{
    border: none;
    padding: 5px;
}
.taskLists {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.task {
    background-color: white;
    padding: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.task p {
    color: black;
}